@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');

:root {
    --primary-color: #01BAAB;
    --secondary-color: #6c757d;

    --primary-bg-color: #1B212B;
    --secondary-bg-color: #24334D;
    --input-bg-color: #1A1F27;

    --text-primary-color: #DBDBDB;
    --text-secondary-color: #A6A6A6;
    --text-faded-color: #4A6390;

    --input-login-color: #212833;

    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary-color);
}

img {
    max-width: 100px;
}